@import '../../styles/index.scss';
.footer-box {
  width: 100%;
  height: auto;
  background-color: color(gray-10);
  .footer-relate {
    @include flex-center;
    margin: 0 auto;
    padding: torem(28px) 0;
    min-width: torem(980px);
    .relate-item {
      @include flex-row;
      .relate-list {
        margin: 0 torem(48px) 0 0;
        h5 {
          @include title-h5;
          text-align: left;
          font-size: font(size-12);
          color: color(gray-3);
        }
        .relate-link {
          @include flex-column;
          a {
            margin: torem(4px) 0 0 0;
            font-size: font(size-11);
            color: color(gray-6);
            font-weight: weight(weight-normal);
          }
          a:first-child {
            margin: torem(8px) 0 0 0;
          }
          a:hover {
            color: color(gray-3);
          }
        }
      }
    }
    .relate-other {
      .relate-ercode {
        width: torem(90px);
        height: torem(90px);
        background-color: gray;
      }
      .serve-item {
        @include margin(top);
        font-size: font(size-14);
        color: color(gray-3);
        font-weight: weight(weight-heavy);
      }
    }
  }
  .footer-owner {
    min-width: torem(980px);
    padding: torem(12px) torem(16px);
    border-top: 1px solid color(gray-6);
    text-align: center;
    div {
      margin: torem(2px) 0 0 0;
      font-size: font(size-10);
      color: color(gray-6);
      font-weight: weight(weight-normal);
      span, a {
        font-size: font(size-10);
        color: color(gray-6);
        font-weight: weight(weight-normal);
      }
      a:hover {
        color: color(gray-3);
      }
    }
  }
}